body{background:#34495e;height:100%;background:url(/img/bg.jpg);background-size:auto;margin:20px;font-family:'Open Sans',sans-serif;}
img{max-width:100%}
.container-fluid {max-width:1600px;}

$red: #ED1C24;
$darkRed: #dc3545;
$darkBlue: #212529;

.mainbox{position:relative;display:block;width:100%;background-color:#fff;color:$darkBlue;word-wrap: break-word;padding:0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
    &>.title{display: flex; align-items: center; position:relative;font-weight:700;font-size:1rem;color:$darkBlue;padding:10px 15px;line-height:2rem;border-bottom:1px solid #efefef;font-family:'Roboto',sans-serif;
        &:not(.withoutline):before{bottom:-1px;width:120px;height:1px;background:$darkRed;content:'';left:0;position:absolute}
        &:after{content:"";clear:both;display:Block}
        &.withoutline{border-bottom:0}
        &>.right{margin-left:auto; border-left:1px solid #e8ebf5;padding-left:15px;color:$darkBlue;
            &:last-child{border-left:0px;padding-left:0;}
            &:hover{color:$red;text-decoration:none}
            &:after{content:"";clear:both;display:Block}
        }
        &>svg{color:$red;width:30px;margin-right:5px;}
    }
    &.bottomredborder {border-bottom: 2px solid $red;}
    &>.content{z-index:9;position:relative;padding:15px 30px; line-height: 2rem;}
}

ul#Sidebar {
    li{
        a{color:$red;
            &:hover {color:$darkBlue;}
        }
        
    }
}

.clickable {cursor: pointer;}